.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-style {
  width: 22rem;
}

.header-line {
  border-bottom:1px solid #CCC;
  float:left;
  width:100%;
  padding-bottom:3px;
}