body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  background: url(trip_background\(3\).png) no-repeat center center fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* .flex-parent-element {
  display: flex;
  width: 100%;
  height:100%
}

.flex-child-element {
  flex: 1;
  margin-top: 50px;
  margin-left: 100px;
  object-fit: contain;
}

.flex-child-element:first-child {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 150px;
} */

.container-fluid {
  margin: 0px;
}

.map-viewport {
  border-radius: 25px;
  width: 87%;
  height: 60vh;
}

.list {
  width: 600px;
}

.icons {
  margin-left: 15px;
  font-size: 35px;

}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.font {
  font-family: "Bebas Neue", cursive;
}

.video {
  position: fixed;
  border: auto;
  max-width: auto;
  max-height: auto;
  object-fit: fill;
}

.btn-bigger {
  font-size: 35px;
  padding: 20px;   
  border-width: 2px;
}

.drk-btn {
  color: #fff;
  background-color: #4b5b6b95;
  border-color: #343a40;
  text-decoration: none;
  border-radius: 13px;
}

.drk-btn:hover {
  color: #fff;
  background-color: #1e2124;
  border-color: #1d2124;
}

.user-icon {
  width: 20px;
  height: 20px;
}

#triphub-logo {
  margin: auto;
}

#keyword-button {
  background-color: rgb(248, 97, 42);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: large;
  box-shadow: inset;
}

#keyword-buttons-div {
  max-height: 145px;
  overflow-x: auto;
}

#account-links {
  text-decoration: none;
  color: white;
}

#name-description {
  margin: auto;
  padding-left: 3.125em;
  padding-right: 3.125em;
}

#stop-list {
  margin: auto;
  max-width: 85%;
  min-height: 460px;
  max-height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#center-stop-list {
  border-radius: 25px;
  background: transparent;
  backdrop-filter: blur(10px);
  margin: auto;
}

#width-stop-list {
  width: 100%;
}

#stop-search {
  max-width: 80%;
}

#find-stop-container {
  padding-left: 3.85em;
}

#find-stop-results {
  padding-right: 4em;
  max-width: 80%;
  overflow-y: scroll;
  max-height: 375px;
}

#login-signup-buttons {
  width: 100%;
}


#stop-card {
  align-content: center;
}

#dropdownMenuButton {
  display: inline-block;
  align-content: center;
}

/* .dropdown-menu {
  position: sticky;
  align-content: center;
  width: 100%;
} */

.collapse:not(.show) {
  display: none;
}

.collapse {
  display: block;
}

#find-overview-togglers {
  position: relative;
}

#find-overview-togglers-active {
  border-bottom: 4px solid orangered;
}

#footer-div {
  border-top: 3px solid lightgray;
  position: sticky;
  top: 100%;
}

#footer-content {
  font-style: italic;
  font-size: x-large;
}

#login-form {
  width: 50%;
}

/* #find-overview-togglers::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #F05458;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

#find-overview-togglers:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
#find-overview-togglers {
  position: relative;
}

#find-overview-togglersr:hover::before {
  transform-origin: left;
  transform: scaleX(1);
} */

